
@import "../../styles/responsive.module";


.Navigation {

	position: absolute;
	width: 100%;
	z-index: 1;
	padding: 10px;
	height: 90px;
	padding-top: 10px;
	color: white;
	background-color: #494a4d;
	opacity: .8;
	
	ul{
		padding: 22px;
	}

	ul li{
		display: inline-block;
	    text-decoration: none;
	    color: #fff;
	    /* font-family: 'Playfair Display', serif; */
	    text-transform: uppercase;
	    font-weight: 100;
	    letter-spacing: -1px;
	}

	ul li a{

	 	padding: 27px;
	 	color: #fff;
	    font-weight: bold;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: 100;
	    letter-spacing: 0px;
	    font-size: 12px;

	    &:hover{
	    	transition: width .4s ease-in-out;
	    	// border-bottom: 4px solid #fff;
	    }
	}

	
}
#imageContainer{
	img{
		width: 80px;
		&:hover{
			cursor: pointer;
		}
	}
}

.containerCustomizeFlex{
    width: 90%;
    margin: 0 auto;
}


.active{
 	color: #fff !important;
 	background: #000000;
 	border-bottom: 4px solid #fff;
 	padding: 0px;
}

.mobileNav{
	display: none;
	cursor: pointer;
	left: 100%;
	-webkit-transition: all .5s;
    transition: all .5s;
	opacity: 1;
}
				
// #imageContainer{
//     text-align: center;
// 	height: 90px;
// 	z-index: 1;
// 	position: relative;
// 	img{
// 		width: 25%;
// 		&:hover{
// 			cursor: pointer;
// 		}
// 	}
// }
		
#rowOffMargin{
	margin:0;
}

#nav{
	text-align: right;
}
		
.desktopMode{
	display: block;
}

.expandedNav{

	
	content: '';
    background: #494a4d;
    padding: 37px;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    z-index: 999;
    left: 0;

    ul{
    	margin-top: 99px;
    }

    li{
    	display: block;
    	text-align: center;
	    font-size: 4vmin;
	    list-style-type: none;
	    margin-bottom: 30px;
    }
    a{
    	color: #fff;
    }
}

.closeNav{
	background: #ffcb62;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor:pointer;
}


/*#navcontainerBanner{
    border-bottom: 1px solid #868686ee;
}*/